.usersWrapper {
	padding: 20px;
}

.user {
	display: flex;
	margin-bottom: 20px;
}

.avatarWrapper {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.photo {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

.userInfo {
	display: flex;
	width: 400px;
	height: 100px;
	justify-content: space-between;
	background-color: rgb(120, 178, 229);
	border-radius: 10px;
  padding: 0 10px;
}

.button {
	margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.locationWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  align-items: flex-end;
}

.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.pagination span {
	display: block;
	background-color: rgb(120, 178, 229);
	width: 20px;
	height: 20px;
	border-radius: 20px;
	text-align: center;
	margin-right: 5px;
	border: 2px solid rgb(37, 124, 167);
	cursor: pointer;
}

.pagination span.selectedPage {
	border: 2px solid gold;	
}