* {
	margin: 0;
	padding: 0;
}

body {
	background-color: blanchedalmond;
}

.app-wrapper {
	padding: 20px;
	display: grid;
	grid-template-areas:
		'header header '
		'nav content ';
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}

.app-content {
	grid-area: content;
	background-color: teal;
}