.friendsWrapper {
  margin-top: 50px;
}

.title {
  color: aliceblue;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 1px;
}

.friends {
	margin-top: 20px;
	width: 100%;
	display: flex;
  flex-wrap: wrap;
}
