.sidebar {
	grid-area: nav;
	background-color: blueviolet;
	padding: 20px;
	width: 150px;
}

.list {
	list-style-type: none;
	text-decoration: none;
}

.nav li {
	margin-bottom: 10px;
}

.link {
	text-decoration: none;
	color: aliceblue;
}

.active {
	color: gold;
	text-decoration: none;
}

.list li:last-child {
	margin-top: 40px;
}
