.posts {
	padding: 20px;
}

.textWrapper {

	
}

.newPost {
	width: 100%;
	background-color: aliceblue;
	display: block;
	margin-bottom: 10px;
}

.posts button {
	/* float: right; */
	display: block;
	margin-left: auto;
	padding: 0 10px;
}
